.cube {
  width: fit-content;
  height: fit-content;
  display: flex;
  position: relative;
  transition: all 0.5s ease;
  /* Transición de la posición */
  cursor: pointer;
  border: 3px black solid;
  border-radius: 5px;
}


.hover {
  transform: scale(1.3);
  z-index: 1000;
}

.cube.animated {
  z-index: 1000;
}

.front {
  width: 3vw;
  height: 40vh;
  background-color: #ed1d24;
  transform: rotateY(0deg);
  transform-origin: right;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  transition: all 1s ease;
  /* Transición de la cara del cubo */
}
.front.switch {
  width: 2vw;
  grid-template-rows: 10% 90%;
  /* Transición de la cara del cubo */
}
.front.ds{
  width:  4.5vw;
  height: 31.76vh;
  grid-template-rows: 30% 70%;
}
.front.pc{
  grid-template-rows: 15% 85%;
}

.left {
  height: 40vh;
  width: 0px;
  background-color: yellow;
  transform: rotateY(-90deg);
  transform-origin: left;
  transition: all 1s ease;
  /* Transición de la cara del cubo */
}
.left.ds {
  height: 31.76vh;
}

.front.animated {
  width: 0px;
  height: 60vh;
  transform: rotateY(-90deg);
  /* Animación de la cara frontal */
}

.left.animated {
  width: 30vw;
  height: 60vh;
  transform: rotateY(0deg);
  /* Animación de la cara lateral */
}

.game-container {
  height: fit-content;
  width: fit-content;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-lr;
  font-weight: bold;
  color: white;
}
.platform{
  display: flex;
  align-items: top;
  justify-content: center;
  
}
.icon{
  margin-top:15%
}
.icon.ds{
  margin: 0;
}
.icon.pc{
  margin: 0;
}
.icon.ps{
  margin: 0;
}
.platform.ps {
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  writing-mode: vertical-lr;
  font-size: larger;
  font-weight: bold;
  font-family: 'Eurostile Bold Extended';
}
.platform.xbox{
  background-color: #3d3435;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  writing-mode: vertical-lr;
  font-size: larger;

}
.platform.ds{
  background-color: white;
}
.platform.pc{
  background-color: white;
  color: black;
  align-items: center;

}


.title.ps {
  background-color: beige;
  color: black;
}
.title.xbox{
  background-color: #3d3435;
}
.title.ds{
  background-color: white;
  color: black;
  font-weight: bold;

}
.title.pc{
  background-color: #3d3435;
  color: white;

}
