.gameInfoRow{
	display: flex;
	justify-content: space-between;
	margin: 1vw;
}
.gameTitle{
	display: flex;
	justify-content: center;
	margin-top: 2%;
}
.gameInfo{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;	
	width: 100%;
	height: 100%;
}
.statusBar{
	display: flex;
	justify-content: center;
	padding-top: 10%;
}