.link-dark {
	text-decoration: none; /* quita el subrayado */
  }
  
.link-dark:hover,
.link-dark:focus {
	text-decoration:underline; /* opcional: añade subrayado al hacer hover o focus */
  }

.nav-item {
	margin-bottom: 10px;
  }
  .libreria{
    display: flex;
    flex-wrap: wrap;
    align-items: end ;
    gap: 3px 10px;
  }